<h3>Data Diri</h3>
<p>Nama Lengkap : Kadek Surya Mahardika </p>
<p>NIM : 13519165 </p>
<p>Asal Universitas : ITB </p>
<p>Tanggal Mulai Penggerjaan : 15 November 2020</p>
<a href=https://www.kaggle.com/datasnaek/youtube-new?select=USvideos.csv>Sumber Dataset : Kaggle</a>

<h3>Data Preprocessing: Data Observation and Data Cleaning</h3>

<h3>Step 1: Data Observation</h3>
<p> About this Dataset : This dataset is about daily record of top trending Youtube videos in United States</p>
<p> The dataset is structural data in csv file </p>
<p> Let's see how's the dataset looks like and the feature on it </p>

In [1]:
#Import pandas library
import pandas as pd

#read local csv
df = pd.read_csv('USvideos.csv')

#let's see little bit about the data
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [2]:
#Let's see the dataset length and the features (columns)
print(f'Rows: {df.shape[0]} (data length) \nColumns : {df.shape[1]} (number of data features)')
print('\nFeatures:')
print(df.columns)

Rows: 40949 (data length)
Columns : 16 (number of data features)

Features:
Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

<p>As you can see on above, our dataset have 16 features, that might be correlated on why some videos is trendings</p>
<p>Intuitively, video_id for every videos must be unique, let's see if some videos have occurence more than once</p>

In [3]:
df.duplicated(subset=['video_id']).any()

True

<p>That's give answer 'True'! That's mean that a videos can be on trending more than once or in some range of time<p>
<p>Depends on what insight or problem you want to solve after getting this datasets features, for example, on description feature might be useful for sentiment analysis,for me, after i know that some videos can be trended multiple times, i want to know, what category with longest trending duration and if there's any correlation between trending duration and comment count</p>
<p>After i've decided what insight i want to know, let's clean the datasets based on what i'm aiming for</p>

<h3>Step 2: Data Cleaning</h3>
<p>Let's drop the features that irrelevant for my problem</p>
<p>Those features are ['title', 'channel_title', 'publish_time', 'tags', 'views', 'likes', 'dislikes', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed', 'description'] </p>

In [4]:
df_cleaned = df.drop(['title', 'channel_title', 'publish_time', 'tags', 'views','likes', 'dislikes',
                      'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'video_error_or_removed',
                      'description'],axis=1)
df_cleaned

          video_id trending_date  category_id  comment_count
0      2kyS6SvSYSE      17.14.11           22          15954
1      1ZAPwfrtAFY      17.14.11           24          12703
2      5qpjK5DgCt4      17.14.11           23           8181
3      puqaWrEC7tY      17.14.11           24           2146
4      d380meD0W0M      17.14.11           24          17518
...            ...           ...          ...            ...
40944  BZt0qjTWNhw      18.14.06           15           2657
40945  1h7KV2sjUWY      18.14.06           22           3936
40946  D6Oy4LfoqsU      18.14.06           24           3992
40947  oV0zkMe1K8s      18.14.06            1          13088
40948  ooyjaVdt-jA      18.14.06           20         144795

[40949 rows x 4 columns]

<p>After that, let's see if those features have null values</p>

In [5]:
df_cleaned.isnull().sum()

video_id         0
trending_date    0
category_id      0
comment_count    0
dtype: int64

<p>Pretty Nice! We don't have any null values in those feature<p>
<p>Normally, if there's some null values inside those feature, we can drop the data or we filled with some relevant data</p>
<p>Next thing, i want to do is create new data frame that's include the duration of trending videos, where each data is unique</p>

In [6]:
#Compute the total days a video has trending
trend_days = df_cleaned.groupby(['video_id'])['video_id'].agg(total_trend_days=len).reset_index()

#Remove all duplicated video occurence and keep the last date of that video
df_cleaned_re = df_cleaned.sort_values(["video_id", "trending_date"])
df_cleaned_re = df_cleaned.drop_duplicates(subset=['video_id'], keep='last')

#Merge the dataset with the total days
df_cleaned_re = pd.merge(df_cleaned_re, trend_days, on='video_id')

df_cleaned_re =  df_cleaned_re.sort_values(['total_trend_days'], ascending=[0])
df_cleaned_re

         video_id trending_date  category_id  comment_count  total_trend_days
6122  j4KvrAUjn6c      18.11.06           24          25323                30
6115  t4pRQ0jn23Q      18.11.06           24          14279                29
6083  8h--kFui1JA      18.08.06           10          12451                29
6124  r-3iathMo7o      18.11.06           28          17444                29
6123  NBSAQenU2Bk      18.11.06            1            769                29
...           ...           ...          ...            ...               ...
3191  TynRELscK8s      18.31.01           15            199                 1
1     Om_zGhJLZ5U      17.14.11            1           2111                 1
3160  kD3XrTz8G8Q      18.31.01           17             13                 1
3159  7FceZB6qMiA      18.31.01           17            832                 1
3175  lRXHd3HNzEo      18.31.01           28             79                 1

[6351 rows x 5 columns]

<p>Before that, Let's do simple statistics first</p>

In [7]:
df_cleaned_re.describe()

       category_id  comment_count  total_trend_days
count  6351.000000   6.351000e+03       6351.000000
mean     20.431271   6.450745e+03          6.447646
std       7.228245   3.382370e+04          4.642806
min       1.000000   0.000000e+00          1.000000
25%      17.000000   3.720000e+02          3.000000
50%      24.000000   1.266000e+03          6.000000
75%      25.000000   4.061500e+03          8.000000
max      43.000000   1.361580e+06         30.000000

In [8]:
#From statistics above, maybe we can find sum of of total_trend_days for each category
df_category = df_cleaned_re.groupby(['category_id']).sum().sort_values(['total_trend_days'], ascending=[0])
df_category['total_trend_days']

category_id
24    9968
10    6474
26    4142
23    3451
22    3203
25    2486
28    2405
1     2349
17    2166
27    1660
15     929
20     817
19     400
2      385
29      57
43      57
Name: total_trend_days, dtype: int64

<h3>First Insight</h3>
<p>From youtube upload page, we can get what's each category for:</p>
<ul>
    <li> 2 Cars & Vehicles </li>
    <li> 23 Comedy </li>
    <li> 27 Education </li>
    <li> 24 Entertainment </li>
    <li> 1 Film & Animation </li>
    <li> 20 Gaming </li>
    <li> 26 How-to & Style </li>
    <li> 10 Music </li>
    <li> 25 News & Politics </li>
    <li> 29 Non-profits & Activism </li>
    <li> 22 People & Blogs </li>
    <li> 15 Pets & Animals </li>
    <li> 28 Science & Technology </li>
    <li> 17 Sport </li>
    <li> 19 Travel & Events </li>
    <li> 43 Shows </li>
</ul>
<p>From this list, we can conclude that the category which give longest trending video is Entertaiment</p>
<p>So we also say that if some youtuber want their video trending for a long time, they can choose entertaiment one</p>

<h3>Second Insight</h3>
<p>The second insight i want to get is the correlation between comment_count and total_trend_days</p>
<p>Let's compute the correlation value</p>

In [9]:
df_cleaned_re["comment_count"].corr(df_cleaned_re["total_trend_days"])

0.11800983908207019

<p>From that coorelation value above, we can say that there isn't correlation between comment_count and total_trend_days</p>
<p>In other words, spamming/adding many comments on youtube videos, won't affect on how long the video will in trending</p>